* {
	margin: 0;
	padding: 0;
}

.finishTitle {
	padding-bottom: 10px;

}

p {
	  line-height: 1.8;
}

.intro {
	font: 1.5em assistantBold, arial;
	line-height: 1.8;
	/*padding-bottom: -5px;*/
}

.my-hr {
	all: initial;
	border: 1px solid #00000096;
	width: 50%;

}

.finishStatus {
	padding-top: 30px;
}

.a {
	display: block;
	padding-bottom: 10px;
}

.bottomNote {
	padding-top: 30px;
}

.apk-div {
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}